@media (max-width: 1000px) {

    header{
        height: 90px;
    }

    .header-right-container {
        width: 300px;
    }

    header a {
        font-size: 20px;
    }

    header h1 {
        font-size: 40px;
    }

    header p {
        font-size: 14px;
    }


    main h2 {
        font-size: 35px;
    }

    main p {
        font-size: 18px;
        line-height: 1.4;
    }

    #home {
        padding-top: 100px;
    }

    .skill-card {
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        padding: 10px 14px;
        margin: 8px;
        gap: 14px;
    }

    .skill-name {
        font-size: 20px;
    }

    .skill-level {
        font-size: 16px;
    }


    .image-myface {
        float:right;
        width: 40%;
        margin-left: 15px;
    }


    footer h1{
        font-size:18px;
    }

    footer a{
        font-size:13px;
    }
}

@media (max-width: 670px) {

    header{
        height:80px;
    }

    .header-right-container {
        display: none;
    }

    header h1 {
        font-size: 40px;
    }

    header p {
        font-size: 12px;
        margin: 5px;
    }

    .menu-icon {
        display: block;
        float: right;
        margin-right: 20px;
        margin-top: 15px;
        font-size: 45px;
    }


    main h2 {
        font-size: 30px;
    }

    main p {
        font-size: 16px;
        line-height: 1.4;
    }

    .image-myface {
        width: 50%;
    }

}

@media (max-width:500px) {
    header{
        height:70px;
    }
    
    header h1 {
        font-size: 30px;
    }

    header p {
        font-size: 10px;
        margin: 3px;
    }

    .menu-icon {
        display: block;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 35px;
    }

}