* {
    box-sizing: border-box;
}

body{
    max-width: 100%;
    background-image: url(Mountain.PNG) ;
    background-size: cover;
}

header * {
    color: white;
}

header {
    height: 100px;
    width: 100%;
    background-color: rgba(56, 56, 244, 0.7);
    position: fixed;
    z-index: 10;
    top:0px;
    left:0px;
}

.header-left {
    float: left;
    margin-left: 20px;
}

.header-right {
    margin: 0px;
    float: right;
}

.header-right-container {
    width: 500px;
}

header h1 {
    margin: 0px;
    font-size: 50px;
}

header p {
    font-size: 15px;
    margin: 10px;
}

header ul {
    list-style-type: none;
    display: flex;
}

header li {
    flex: auto;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    float: left;
}

header a:hover {
    color: yellow;
}



main{
    margin-top:100px; 
}

main h2 {
    text-align: center;
    font-size: 40px;
}

main p {
    font-size: 20px;
    line-height: 1.6;
}

main section {
    scroll-margin-top:100px;
}

.even-number-section {
    border-top:1px solid rgba(white, 0.8);
    border-bottom: 1px solid rgba(white, 0.8);
}

.container {
    width: 80%;
    margin: 0 auto;
}


#home{
    height:500px;
    padding-top:130px;
}

#home p{
    text-align: center;
}


#skills {
    height:500px;
}

.skills{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));        
}

.skill-card{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 12px 16px;
    margin: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap:15px;
}

.skill-name{
    font-size:24px;
    font-weight:600;
}

.skill-level{
    font-size:18px;
    font-weight:400;
    color:#4d4c4c;
}


#about{
    height:500px;
    padding-top:10px;
    color:white;
}

.image-myface {
    float: left;
    width: 27%;
    margin-right:20px;
    border-radius: 50%;
}

#about p{
    margin-top:-10px;
}



#contact{
    height:300px;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.email{
    font-weight:700;
    color:lightblue;
    border-bottom: lightblue 1px solid;
}



footer *{
    color:white;
}

footer{
    height:100px;
    background-color: rgba(56, 56, 244, 0.7);
    width: 101%;
    margin-left:-6px;
    margin-bottom:-8px;
}

.footer-left{
    float:left;
    margin-left:20px;
}

.footer-left h1{
    font-size:20px;
    margin-top:20px;
}

.footer-right{
    float:right;
    margin-right:20px;
}

.footer-right ul{
    list-style:none;
}

.footer-right a{
    text-decoration: none;
}

.footer-right a:hover{
    color: yellow;
}

.fa{
    margin-right:8px;
}

.footer-right li{
    margin-top:5px;
}